/* COLOURS:
 * Red:     #c0392b
 * Blue:    #2986b9
 * Green:   #64b92a
 * Yellow:  #d7af0d
 * Navy:    #263544
*/

html,
body{
    background: url('../img/bg.png') repeat #263544;
    color: white;
    height: 100%;
}

#wrap 
{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -30px;
}

#push,
#footer {
    height: 60px;
}

#footerlogo
{
    text-align: center;
}

/* Homepage styles */

#headerbar{
    height:72px;
    background-color:#292929;
    -moz-box-shadow: 0px -5px 8px #b1900b;
    -webkit-box-shadow: 0px -5px 8px #b1900b;
    box-shadow: 0px -5px 8px #b1900b;
}

#headerlogo{
    position:absolute;
    left:10px;
    top:10px;
}

#inoutbutton{
    position:absolute;
    top:15px;
    right:10px;
}

#inoutbutton a {
    margin-left: 20px;
}

#searchtext{
    height:40px;
    font-size:20px;
    margin-bottom: 10px;
}

#searchbutton{
    width:100%;
}

#mainsearchform{
    margin-top: 200px;
}

/* End homepage styles */

/* Show information page styles */

.hex-im, .hex-im-error
{
    margin: auto;
}

.hex-wrapper {
    position: relative;
}

#ratinghex {
    background: url('../img/bluehexsmall.png') no-repeat;
    position: absolute;
    right: 0;
    top: calc(50% - 43px);
    width: 100px;
    height: 86px;
    text-align: center;
    font-size: 32px;
    line-height: 86px;
}

#showtitle{
    color: #ecf0f1;
    font-size: 60px;
}

#showline{
    background-color:#ecf0f1;
}

#showdescription{
    color: #ecf0f1;
}

.seasonheading{
    background-color: #c0392b !important;
}

.seasonpanel, .seasontable{
    background-color: transparent !important;
}

.panel-heading {
    position: relative !important;
}

.panel-title, .panel-title a {
    display: block !important;
    width: 100% !important;
}

.rating-col {
    position: relative;
}

.rating-bar {
    background-color: #2986b9;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.rating-num {
    position: absolute;
    z-index: 1 !important;
}

/* End show information page styles */


.hover
{
    opacity: 0.2;
    -webkit-filter: blur(3px); 
}

.hex-im-cont
{
    position: relative;
}

.days-left
{
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}

/* Calendar styles */
.fc-day {
    background: #f9f9f9 !important;
}

.fc-today {
    background: #f9f9f9 !important;
    border: 3px solid #c0392b !important;
}

.fc-day-header {
    background: #aeb1b1 !important;
    height: 40px !important;
    vertical-align: middle !important;
}

