body{
    background-color:#263544;
    margin:0;
    min-width: 250px;
}

/* Homepage styles */

#headerbar
{
    background-color:#292929;
}

#loginbtn
{
    margin: 25px 0;
}

/* End homepage styles */

/* Hex Image */
#hex 
{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* Show information page styles */

#showtitle{
    color: #ecf0f1;
    font-size: 60px;
}

#showline{
    background-color:#ecf0f1;
}

#showdescription{
    color: #ecf0f1;
}

/* End show information page styles */