/* COLOURS:
 * Red:     #c0392b
 * Blue:    #2986b9
 * Green:   #64b92a
 * Yellow:  #d7af0d
 * Navy:    #263544
*/

html, body {
    background: url('../img/bg.png') repeat #263544;
    color: white;
    height: 100%;
}

table, tr, td { height: 100%; }

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

#hex {
    margin: 0 auto;
}

#push, #footer {
    height: 60px;
}

#footerlogo {
    text-align: center;
}

/* Homepage styles */

#headerbar {
    height:72px;
    background-color:#292929;
    -moz-box-shadow: 0px -5px 8px #b1900b;
    -webkit-box-shadow: 0px -5px 8px #b1900b;
    box-shadow: 0px -5px 8px #b1900b;
}

#headerlogo {
    margin: 10px;
}

#inoutbutton {
    position:absolute;
    top:15px;
    right:10px;
}

#inoutbutton a {
    margin-left: 20px;
}

#searchtext {
    height:40px;
    font-size:20px;
    margin-bottom: 10px;
}

#searchbutton {
    width:100%;
}

#mainsearchform {
    margin-top: 200px;
}

/* End homepage styles */

#loading-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    text-align: center;
    display: none;
}

#loading-overlay img {
    position: absolute;
    top: 30%;
    left: calc(50% - 150px);
}

/* Show information page styles */

.sidebar {
    margin-top: 30px;
    max-width: 450px;
}

.sidebar .btn {
    margin-bottom: 10px;
}

.hex-im, .hex-im-error {
    margin: auto;
}

.hex-wrapper {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

#ratinghex {
    background: url('../img/bluehexsmall.png') no-repeat;
    position: absolute;
    right: 0;
    top: calc(50% - 43px);
    width: 100px;
    height: 86px;
    text-align: center;
    font-size: 32px;
    line-height: 86px;
    opacity: 0.8;
}

#showtitle h1 {
    color: #ecf0f1;
    font-size: 60px;
}

#showline {
    background-color:#ecf0f1;
}

#showdescription {
    color: #ecf0f1;
}

.seasonheading {
    background-color: #c0392b !important;
}

.seasonpanel, .seasontable {
    background-color: transparent !important;
}

.panel-heading {
    position: relative !important;
}

.panel-title, .panel-title a {
    display: block !important;
    width: 100% !important;
}

.rating-col {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.rating-bar {
    background-color: #2986b9;
    opacity: 0.8;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.rating-num {
    position: absolute;
    z-index: 1 !important;
    left: 8px;
    top: 8px;
}

th.sortable {
    cursor: pointer;
}

th.sortable:after {
    content: '\f0dc';
    font-family: FontAwesome;
    padding-left: 5px;
    font-size: 0.8em;
}

th.headerSortUp:after {
    content: '\f0d8';
    color: #c0392b;
    font-family: FontAwesome;
    padding-left: 5px;
    font-size: 0.8em;
}

th.headerSortDown:after {
    content: '\f0d7';
    color: #c0392b;
    font-family: FontAwesome;
    padding-left: 5px;
    font-size: 0.8em;
}

.sidebar .navbar-collapse {
	padding: 0px;
	border-top: none;
	box-shadow: none;
}
                		
.sidebar .navbar-header {
    float: none;
	border-bottom: 1px solid;
	border-bottom-color: #252525;
}
                		
.sidebar .navbar-header h4{
	padding-left: 15px; 
	padding-top: 5px;
}
                		
.sidebar .navbar {
	background-color: #292929;
	border-top: 1px solid;	
	border-top-color: #292929;
	border-radius: 5px 5px 0px 0px;
}
                		
.sidebar .navbar-toggle, .sidebar .navbar-toggle:hover, .sidebar .navbar-toggle:active, .sidebar .navbar-toggle:focus {
	border-color: #292929;
	background-color: #292929;
}
                		
.sidebar .nav-container {
	width: 50%;
	margin-left: 25%;
}
                		
.sidebar .nav-list {
	background: #292929;
	padding: 0px;
}
                		      		
.sidebar .nav-list-panel li a{
	padding-top: 15px;
	color: #2986b9;
	border-bottom: 1px solid;
	border-bottom-color: #252525;	
}  		
.sidebar .nav-list-panel li a:hover, .sidebar .nav-list-panel a:focus, .sidebar .nav-list-panel a:active{
	color: #2986b9;
	background: #252525;
 	opacity: 1;
}

.episode {
    cursor: pointer;
}

@media (max-width: 1100px) {
    .episode, .episode:hover {
        color: #fff;
        cursor: auto;
        display: inline !important;
        text-decoration: none;
    }
}
    

/* End show information page styles */

.hover {
    opacity: 0.2;
    -webkit-filter: blur(3px); 
}

.hex-im-cont {
    position: relative;
}

.days-left {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}

/* Calendar styles */
.fc-day {
    background: #f9f9f9 !important;
}

.fc-today {
    background: #f9f9f9 !important;
    border: 3px solid #c0392b !important;
}

.fc-day-header {
    background: #aeb1b1 !important;
    height: 40px !important;
    vertical-align: middle !important;
}

/* Bar Chart Styles */

#ratingsgraphs{
    width:960px;
    margin:auto;
}

.graph {
    width:100%;
    margin:auto;
    padding-bottom:70px !important;
}

rect:hover {
    fill: #2986b9;
}

.axis path, .axis line {
    fill: none;
    stroke: #2986b9;
    stroke-width:2px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 14px;
    fill: #2986b9;
}

.x.label, .y.label {
    font-family: sans-serif;
    font-size: 14px;
    fill: white;
}

.title.label {
    font-family: sans-serif;
    font-size: 25px;
    fill: white;
}

.noratings.label {
    font-family: sans-serif;
    font-size: 25px;
    fill: #2986b9;
}

.d3-tip {
    line-height: 1.4;
    font-weight: bold;
    padding: 12px;
    background: rgba(41, 41, 41, 0.8);
    color: #fff;
    text-align:center;
    border-radius: 2px;
}

/* Results Page */
.list-group-item {
    background-color: transparent !important;
    outline: none !important;
    margin-bottom:5px !important;
    border: none !important;
}

.list-group-item:hover {
    background: rgba(192, 57, 43, 0.3) !important;
}

.list-group-item-heading {
    color: #2986b9 !important;
}

.list-group-item-text {
    color: #fff;
}

.pagination{
    display: block;
    text-align: center;
}

.step-links{
    display: inline-block;
}

/* Search Bar */ 

#navsearch input {
    outline: none;
    background: #292929 url(../img/search-icon.png) no-repeat 8px center;
    border: transparent 0px;
    padding: 8px 8px 8px 30px;
    cursor: pointer;
    width: 10px;

    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#navsearch input[type=search]:hover {
    background-color: #fff;
}

#navsearch input[type=search]:focus {
    width: 250px;
    background-color: #fff;
    cursor: auto;
}

/* Auto complete */

a.ui-state-focus {
    background: rgb(192, 57, 43) !important;
    color: #fff !important;
}
