html,
body{
    background-color:#263544;
    color: white;
    height: 100%;
}

#wrap 
{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -30px;
}

#push,
#footer {
    height: 60px;
}

#footerlogo
{
    text-align: center;
}

/* Homepage styles */

#headerbar{
    height:72px;
    background-color:#292929;
    margin-bottom:200px;
    -moz-box-shadow: 0px -5px 8px #b1900b;
    -webkit-box-shadow: 0px -5px 8px #b1900b;
    box-shadow: 0px -5px 8px #b1900b;
}

#headerlogo{
    position:absolute;
    left:10px;
    top:10px;
}

#loginbutton{
    position:absolute;
    top:10px;
    right:10px;
}

#searchtext{
    height:40px;
    font-size:20px;
    margin-bottom: 10px;
}

#searchbutton{
    width:100%;
}

/* End homepage styles */

/* Show information page styles */

#hex
{
    margin: auto;
}

#showtitle{
    color: #ecf0f1;
    font-size: 60px;
}

#showline{
    background-color:#ecf0f1;
}

#showdescription{
    color: #ecf0f1;
}

/* End show information page styles */

/* Begin profile styles */

#profilecontent{
    width:90%;
    margin: auto;
}

#countdownhex{
    float:left;
    width:300px;
}

#username{
    color: #f9f9f9;
    font-size: 40px;
    float:left;
    margin-top: 5px;
}

#username p{
    margin:0;
    padding:0;
}

#profilecontent hr{
    height:1px;
    width:50%;
    background-color:#aeb1b1;
    float:left;
    margin-top:70px;
    margin-bottom:20px;
}

#calendar{
    color: #ecf0f1;
    float:left;
    width:50%;
}

#calendar p{
    margin:0;
    padding:0;
}
/* End profile styles */

/* Begin styles for hexagons */

.center-hex
{
    margin: auto;
    width: 100%;
}

.hexagon {
    width: 800px;
    height: 400px;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background: url(http://thetvdb.com/banners/fanart/original/73255-59.jpg) center;
    background-size:cover;
    visibility: visible;
    transform: rotate(-60deg);
}

/* End hexagon styles */
