{% extends "base.html" %}
{% load apptags %}

{% block title %}- Admin Control Panel{% endblock %}

{% block js %}<script src="{% static "js/jquery.tablesorter.min.js" %}"></script>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <h1>All Scraped Shows</h1>
        </div>
        <div class="pull-right">
            <form action="/admin/togglescraping/" method="post" style="padding-top: 30px;">
                {% csrf_token %}
                {% if is_scraping %}
                <input class="btn btn-danger" type="submit" value="Turn Scraping Off" />
                {% else %}
                <input class="btn btn-success" type="submit" value="Turn Scraping On" />
                {% endif %}
            </form>
        </div>
    </div>

    <div class="row">
        <table id="scraped-table" class="table seasontable">
            <thead style="font-weight: bold;">
                <tr>
                    <th class="sortable">ID</th>
                    <th class="sortable">Show Name</th>
                    <th class="sortable">Users Subscribed</th>
                    <th class="sortable">Last Scraped</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            {% for show in show_iterator %}
            <tr>
                <td>{{ show.key.name }}</td>
                <td><a href="/show/{{ show.url_string }}">{{ show.title }}</a></td>
                <td>{% if subs_counts|get_item:show.key.name %}{{ subs_counts|get_item:show.key.name }}{% else %}0{% endif %}</td>
                <td data-sort-value="{{ show.last_scraped|date:'YmdHis' }}">{{ show.last_scraped }}</td>
                <td><a href="/scrape/{{show.key.name}}?force=1" class="load-on-click">Rescrape</a></td>
                <td><a href="/admin/edit_show/{{show.key.name}}" class="load-on-click">Edit Show</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{%block scripts %}<script src="{% static "js/our_js/admin.js" %}"></script>{% endblock %}
