{% load staticfiles %}
{% include "./telehex/header.html" %}

<div class="container">
    <h1>{{user.nickname}}'s Calendar</h1>
    <br>
    <div id='calendar'></div>
</div>

<script>
$(document).ready(function() {

    $('#calendar').fullCalendar({
        theme: true,
        header: {left: 'prev,next today', center: 'title', right: 'month,basicWeek'},
        events: "/calendar_data/",
        firstDay: 1,
        weekMode: "variable",
        eventRender: function(calevent, element) {
            currentDate = new Date();
            if(calevent.start.getTime() < currentDate)
                element.addClass("oldclass");
        }
	});
});

</script>

<style>
    .oldclass {
        opacity: 0.3;
    }
</style>


{% include "./telehex/footer.html" %}
