{% load staticfiles %}
{% include "./telehex/header.html" %}

<div class="container">
    <h1>{{user.nickname}}'s Calendar</h1>
    <br>
    <div id='calendar'></div>
    <br>
    <div>
        Receive email updates:
        <input id="updates_check" type="checkbox" {% if email_updates %} checked="checked" {% endif %}>
    </div>
</div>

<script>
$(document).ready(function() {

    $('#calendar').fullCalendar({
        theme: true,
        header: {left: 'prev,next today', center: 'title', right: 'month,basicWeek'},
        events: "/calendar_data/",
        firstDay: 1,
        weekMode: "variable",
        eventRender: function(calevent, element) {
            currentDate = new Date();
            currentDate.setDate(currentDate.getDate() - 1);
            if(calevent.start.getTime() < currentDate)
                element.addClass("oldclass");
        }
	});

    var emailUpdates = $("#updates_check");

    emailUpdates.change(function(){
        var data = $.get("/receive_updates/");
    });

});

</script>

<style>
    .oldclass {
        opacity: 0.3;
    }
</style>


{% include "./telehex/footer.html" %}
