{% extends "base.html" %}

{% block title %}- Calendar{% endblock %}

{% block css %}<link rel='stylesheet' href="{% static "css/fullcalendar.css" %}" media="screen">
	<style>
	    .oldclass {
	        opacity: 0.3;
	    }
	</style>{% endblock %}
{% block js %}<script src="{% static "js/fullcalendar.js" %}"></script>{% endblock %}

{%block content %}<div class="container">
    <h1>{{user.nickname}}'s Calendar</h1>
    <br>
    <div id='calendar'></div>
    <br>
    <div>
        Receive email updates:
        <input id="updates_check" type="checkbox" {% if email_updates %} checked="checked" {% endif %}>
    </div>
</div>{% endblock %}

{% block scripts %}<script>
$(document).ready(function() {

    $('#calendar').fullCalendar({
        theme: true,
        header: {left: 'prev,next today', center: 'title', right: 'month,basicWeek'},
        events: "/data/calendar/",
        firstDay: 1,
        weekMode: "variable",
        eventRender: function(calevent, element) {
            currentDate = new Date();
            currentDate.setDate(currentDate.getDate() - 1);
            if(calevent.start.getTime() < currentDate)
                element.addClass("oldclass");
        }
	});

    var emailUpdates = $("#updates_check");

    emailUpdates.change(function(){
        var data = $.get("/receive_updates/");
    });

});

</script>{% endblock %}



