    <div id="wrap" class="container-fluid">
        <div class="navbar" role="navigation" id="headerbar" style="border-radius: 0px">
            <div class="navbar-header">
                <a href="/"><img src="{% static "img/telehexlogo.png" %}" width="114" height="52" id="headerlogo" title="telehexlogo" alt="Telehex Logo"/></a>
            </div>

            <div class="pull-right" id="inoutbutton">
                {% if user %}
                <div class="dropdown dropdown-menu-square" style="display: inline-block;">
                    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/your-shows/" style="text-decoration:none; outline: none">{{ user.nickname }} <i style="color: #fff" class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu" style="background" role="menu" aria-labelledby="dLabel">
                        <li role="presentation" class="dropdown-header">Navigate to...</li>
                        <li><a href="/your-shows/">Your Shows</a></li>
                        <li><a href="/your-shows/calendar/">Calendar</a></li>
                        {% if is_admin %}<li><a href="/admin">Admin</a></li>{% endif %}
                    </ul>
                </div>
                <a href="/logout?continue={{request.META.PATH_INFO}}" type="submit" class="btn btn-danger">log out</a>
                {% else %}
                <a href="/login?continue={{request.META.PATH_INFO}}" type="submit" class="btn btn-primary">log in</a>
                {% endif %}
            </div>
        </div>
        <div class="container-fluid" style="height:36px; margin-top: -20px;">
                <form action="/search/" method="post" onsubmit="return isValidSearch('small-search')" id="navsearch"  class="pull-right search-form">
                {% csrf_token %}
                 	<input type="search" name="query" placeholder="find a tv show" class="form-control search" id="small-search">
                </form>
        </div>