{% extends "base.html" %}
{% load staticfiles %}
{% load ratings_helper %}
{% include "./telehex/header.html" %}

{% block title %}- {{ user.nickname }}'s Profile{% endblock %}

{% block content %}

<script src="http://d3js.org/d3.v3.min.js"></script>
<div class="container">
    <!-- title for the page -->
    <div class="profile-title-styling">
        <h1>{{user.nickname}}'s Subscribed Show Statistics</h1>
    </div>
    <!-- pie charts in bootflat's thumbnail class' -->
    <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail thumbnail-styling">
                    <div id="genre_pie"></div>
                </div>
                <div class="caption caption-styling">
                     <p>Genre</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail thumbnail-styling">
                    <div id="ratings_pie"></div>
                </div>
                <div class="caption caption-styling">
                     <p>Ratings</p>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="thumbnail thumbnail-styling">
                     <div id="status_pie"></div>
                </div>
                <div class="caption caption-styling">
                     <p>Status</p>
                </div>
            </div>
        </div>
    </div>
    <!-- header for the second graph -->
    <div class="caption-styling">
        <h2>Explore your shows</h2> 
        <p class="stats_link">A breakdown of your subscribed show information</p>
        <p class="stats_link">The infograph below highlights all your chosen shows.</p>
        <p class="stats_link">They are ordered by each season's ratings, to help you decide what to watch.</p>
    </div>
    <!-- the d3 layout partition graph -->
    <div id="layout_graph">
    </div>
<body>
{% endblock %}


{%block scripts %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{% static "js/our_js/profile_stats.js" %}"></script>
{% endblock %}