{% extends "base.html" %}

{% block title %}- Profile{% endblock %}

{%block content %}
<div class="container">
    <h1>Hello, {{user.nickname}}</h1>

    {% if shows %}
    <ul>
        {% for show, next in shows %}
        <li>
            <p>{{ show.title }}  {% if next.name %}-- {{ next.name }} {% endif %} {% if next.name %}-- {{ next.airdate }} {% endif %}</p>
           
            <div class="hex-im-cont">
                <a href="/show/{{show.url_string}}"><img {% if show.fanart %} src="/hexagons/{{ show.key.name }}" {% else %} src="{% static "img/errorhex.png" %}" {% endif %} class="hex-im img-responsive" alt="{{show.name}} hex image"></a>
                {% if next.airdate %}
                    <span style="display: none" class="airdate">{{ next.airdate }}</span>
                    <h2 class="days-left" style="display: none"> On in </h2>
                {% elif show.status == "On Hiatus" %}
                    <h2 class="days-left" style="display: none"> On Hiatus </h2>
                {% elif show.status == "Ended" %}
                    <h2 class="days-left" style="display: none"> Ended </h2>
                {% elif show.status == "Other" %}
                    <h2 class="days-left" style="display: none"> Unknown </h2>
                {% elif show.status == "Continuing" %}
                    <h2 class="days-left" style="display: none"> Next airdate to be confirmed </h2>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    <ul>
    {% else %}
    <p>It doesn't look like you've subscribed to any shows. Try <a href="/">searching</a> for some and subscribing to them!</p>
    {% endif %}
</div>
{% endblock %}

{%block scripts %}
<script>

function daysUntil(dateString){
    if(dateString === "")
        return "";
    
    var now = Date.parse(new Date().toDateString()),
    dateEnd = Date.parse(dateString),
    days = (dateEnd - now) / 1000/60/60/24;   // convert milliseconds to days
    return days;
}

// Wait until the document is loaded before doing any jQuery
$(document).ready(function(){
    // Get all the hex-images with airdates
    var images = $(".hex-im-cont").children(".airdate");

    // For each hex-image work out the day until it next airs and append this to the string in the hover
    images.each(function(){
        var daysleft = daysUntil($( this ).text());
        if(daysleft === 0)
            $( this ).siblings(".days-left").text("Today");
        else if (daysleft === 1)
            $( this ).siblings(".days-left").text("Tomorrow");
        else
            $( this ).siblings(".days-left").append(daysleft + " days!");
        
        $( this ).siblings(".days-left").hide();
    });

    // Specify a function that gets executed on hex-image hover
    $(".hex-im").hover(function(){
        // Image is being hovered over - add the hover class
        $(this).addClass("hover");
        // Show the days left
        $(this).parent().siblings(".days-left").show();
    }, function(){
        // Image is being left 
        $(this).removeClass("hover");
        $(this).parent().siblings(".days-left").hide();
    });

    // Function to prevent flickering when days left div is hovered over
    $(".days-left").hover(function(){
        $(this).siblings("a").children(".hex-im").mouseenter();
    }, function(){
        $(this).siblings("a").children(".hex-im").mouseleave();
    });
});


</script>
{% endblock %}
