{% load staticfiles %}
{% include "./telehex/header.html" %}

<div class="container">
    <h1>Hello, {{user.nickname}}</h1>

    {% if shows %}
    <ul>
        {% for show, next in shows %}
        <li>
            {{ show.title }} -- {{ next.name }} -- {{ next.airdate }}
            {% if show.fanart %}
            <img id="hex" src="/hexagons/{{ show.key.name }}" class="img-responsive" alt="{{show.name}} hex image">
            {% else %}
            <img id="hex" src="{% static "img/errorhex.png" %}" class="img-responsive" alt="No Show Image">
            {% endif %} 
        </li>
        {% endfor %}
    <ul>
    {% else %}
    <p>It doesn't look like you've subscribed to any shows. Try <a href="/">searching</a> for some and subscribing to them!</p>
    {% endif %}
</div>

{% include "./telehex/footer.html" %}
