{% extends "base.html" %}

{% block title %}- Ratings for {{ show.title }}{% endblock %}

{% block js %}<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="ratingstitle">
        <h2>Ratings for {{ show.title }}</h2>
        <a href="/show/{{ show.url_string }}">&larr; back to show information</a>
    </div>
    <div class="row" id="ratingsgraphs"></div>
</div>{% endblock %}

{% block scripts %}<script>
var margin = {
    top: 80,
    right: 10,
    bottom: 50,
    left: 50
},
    width = 960 - margin.left - margin.right,
    height = 430 - margin.top - margin.bottom;

var xScale = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var yScale = d3.scale.linear()
    .domain([0, 10])
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(xScale)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left");

var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-20, 0])
    .html(function (d) {
        return "<em>" + d.name + "</em><br><strong>Rating:</strong> <span style='color:#c0392b'>" + d.rating + "</span>";
    });
	
d3.json("/data/ratings/")
	.header("X-CSRFToken", $.cookie('csrftoken'))
	.post("show_slug={{ show.url_string }}", function(error, data){
		
    var no_ratings = d3.set(data["no_ratings"]);

    var keys = d3.keys(data.shows).sort(function (a, b) {
        return b - a;
    });

    for (i = 0; i < keys.length; i++) {
        var series = data.shows[keys[i]];
        var series_num = keys[i];

        xScale.domain(series.map(function (d) {
            return d.episode
        }));

        var chartclass = "season_" + series_num;

        var svg = d3.select("#ratingsgraphs")
            .append("div")
            .attr("id", chartclass)
            .attr("class", "row graph");

        var svg = d3.select("#" + chartclass)
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var bar = svg.selectAll("g")
            .data(series)
            .enter().append("g")
            .attr("transform", function (d) {
                return "translate(" + xScale(d.episode) + ", 0)";
            });

        svg.call(tip);

        bar.append("rect")
            .attr("class", ".bar")
            .attr("y", function (d) {
                return yScale(d.rating);
            })
            .attr("height", function (d) {
				if(d.rating < 0){
					return 0;
				}else{
	                return height - yScale(d.rating);
				}
            })
            .attr("width", xScale.rangeBand())
            .attr("fill", "#c0392b")
            .attr("onclick", function (d) {
                return "window.location.href='" + d.url + "';";
            })
            .on('mouseover', tip.show)
            .on('mouseout', tip.hide);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "middle")
            .attr("x", width / 2)
            .attr("y", height + 40)
            .text("Episode");

        svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "middle")
            .attr("y", -35)
            .attr("x", 0 - (height / 2))
            .attr("transform", "rotate(-90)")
            .text("Rating");

        svg.append("text")
            .attr("class", "title label")
            .attr("text-anchor", "middle")
            .attr("y", -50)
            .attr("x", 0 + margin.left)
            .text("Season " + series_num);

        if (no_ratings.has(series_num)) {
            svg.append("text")
                .attr("class", "noratings label")
                .attr("text-anchor", "middle")
                .attr("x", width / 2)
                .attr("y", height / 2)
                .text("No Ratings Available");
        }
    }
});
</script>{% endblock %}
