{% extends "base.html" %}

{% block title %}- Ratings for {{ show.title }}{% endblock %}

{% block js %}<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>{% endblock %}

{% block content %}
<div class="container">
    <div id="show_slug" class="hidden">{{ show.url_string }}</div>
    <div class="row" id="ratingstitle">
        <h2>Ratings for {{ show.title }}</h2>
        <a href="/show/{{ show.url_string }}">&larr; back to show information</a>
    </div>
    <div class="row" id="ratingsgraphs"></div>
</div>{% endblock %}

{% block scripts %}<script src="{% static "js/our_js/ratings.js" %}"></script>{% endblock %}
