{% extends "base.html" %}

{% block title %}- Search Results for "{{ query }}"{% endblock %}

{% block content %}<div class="container">
    <h1>Search Results for "{{ query }}"</h1>

    <div class="list-group">
    {% if results|length < 1  %}
    	<p>We're sorry your search did not return any results, please try another <a href="/search/">search</a> to try again!</p>
    {% else %}
        {% for series in results %}
            <div class="results-list">
            	<a class="list-group-item load-on-click" href="/scrape/{{series.tvdb_id}}">
                    <h4 class="list-group-item-heading">{{ series.name }}</h4>
                    <p class="list-group-item-text">{{series.desc}}</p>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>{% endblock %}