{% load staticfiles %}
{% include "./telehex/header.html" %}

<div class="container">
    <h1>Results</h1>


    {% if results|length < 1  %}
    	<p>We're sorry your search did not return any results, please try another <a href="/search/">search</a> to try again!</p>
    {% else %}
    	<ul>
        {% for series in results %}
        	<li><a href="/scrape/{{series.tvdb_id}}" class="load-on-click">{{ series.name }}</a></li>
        {% endfor %}
    	</ul>
    {% endif %}
</div>

<script>
    $(document).ready(function() {
            $('body').append('<div id="overlay"><img src="{% static "img/loader.gif" %}" alt="Loading..." /></div>');

        $('#overlay').hide();

        $('.load-on-click').click(function() {
            $('#overlay').show();
        });
    });
</script>
    
{% include "./telehex/footer.html" %}
