{% include "./telehex/header.html" %}
<div class="container">
    <div class="row">
        <!-- Hexagon Image -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="container-fluid">
            <img id="hex" src="{{ show.fanart }}" class="img-responsive" alt="Responsive image">
            </div>
            {% if subscribed %}
            <form action="/unsubscribe/" method="post" >
              {% csrf_token %}
              <input type="hidden" name="show_id" value="{{ show.key.name }}" />
              <input type="submit" value="unsubscribe" />
            </form>
            {% else %}
            <form action="/subscribe/" method="post" >
                {% csrf_token %}
                <input type="hidden" name="show_id" value="{{ show.key.name }}" />
                <input type="submit" value="subscribe" />
            </form>
            {% endif %}
        </div>

        <!-- Description -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div class="container">
                <div class="row">
                    <div id="showtitle">
                        <p>{{ show.title }}  || {{ show.rating }} || {{ show.status }}</p>
                        <p>Next airing: {{ nextepisode.airdate }}</p>
                    </div>
                </div>

                <div class="row">
                    <hr class="showline">
                </div>

                <div class="row">
                    <div id="showdescription">
                        {{ show.desc }}
                    </div>
                </div>

                <div class="row">
                  <h2>Episodes</h2>
                  <table>
                      <tr>
                          <td>Season</td>
                          <td>Ep Number</td>
                          <td>Episode Name</td>
                          <td>Episode Rating</td>
                      </tr>
                      
                      {% for episode in episode_iterator %}
                      <tr>
                          <td>{{ episode.season }}</td>
                          <td>{{ episode.ep_number }}</td>
                          <td>{{ episode.name }}</td>
                          <td>{{ episode.rating }}</td>
                      </tr>
                      {% endfor %}

                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "./telehex/footer.html" %}