<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>

  <h1>{{ show.title }}</h1>

  <h3>{{ show.rating }} || {{ show.status }}</h3>

  <p>{{ show.desc }}</p>

  <img src="{{ show.fanart }}" style="max-width: 100%" />

    <h2>Episodes</h2>
    <table>
        <tr>
            <td>Season</td>
            <td>Ep Number</td>
            <td>Episode Name</td>
            <td>Episode Rating</td>
        </tr>
        
        {% for episode in episode_iterator %}
        <tr>
            <td>{{ episode.season }}</td>
            <td>{{ episode.ep_number }}</td>
            <td>{{ episode.name }}</td>
            <td>{{ episode.rating }}</td>
        </tr>
        {% endfor %}

    </table>

  </body>
</html>
