{% extends "base.html" %}
{% load staticfiles %}
{% load ratings_helper %}
{% include "./telehex/header.html" %}

{% block title %}- Show Statistics{% endblock %}

{% block content %}

<script src="{% static "js/d3.v3.min.js" %}"></script>
<div class="container">
    <h1>Subscribed Show Statistics</h1>
    <div class="caption-styling">
        <h2>Breakdown of subscribed shows</h2> 
    </div>
    <!-- pie charts in bootflat's thumbnail class' -->
    <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail thumbnail-styling">
                    <div id="genre_pie"></div>
                </div>
                <div class="caption caption-styling">
                     <p>Genre</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail thumbnail-styling">
                    <div id="ratings_pie"></div>
                </div>
                <div class="caption caption-styling">
                     <p>Ratings</p>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="thumbnail thumbnail-styling">
                     <div id="status_pie"></div>
                </div>
                <div class="caption caption-styling">
                     <p>Status</p>
                </div>
            </div>
        </div>
    </div>
    <!-- header for the second graph -->
    <div class="caption-styling">
        <h2>Explore your shows</h2> 
        <p class="stats_link">Here are your subscribed shows ordered by each season's average rating, to help you decide what to watch.<br>Click on a show or series to zoom in, and click on an episode to view its description.</p>
    </div>
    <!-- the d3 layout partition graph -->
    <div id="layout_graph">
    </div>
<body>
{% endblock %}

<!-- JavaScript for the graphs -->
{%block scripts %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{% static "js/our_js/show_stats.js" %}"></script>
{% endblock %}
