{% load staticfiles %}
{% include "./telehex/header.html" %}

<div class="container">
    <div class="row">
        <!-- Hexagon Image -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="container-fluid">
                <div class="hex-wrapper">
                    {% if show.fanart %}
                    <img id="hex" src="/hexagons/{{ show.key.name }}" class="img-responsive" alt="{{show.name}} hex image">
                    {% else %}
                    <img id="hex" src="{% static "img/errorhex.png" %}" class="img-responsive" alt="No Show Image">
                    {% endif %}
                    {% if show.rating >= 0 %}
                    <div id="ratinghex">
                        {{ show.rating }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if subscribed %}
            <form action="/unsubscribe/" method="post" >
                {% csrf_token %}
                <input type="hidden" name="show_id" value="{{ show.key.name }}" />
                <input type="submit" value="unsubscribe" />
            </form>
            {% else %}
            <form action="/subscribe/" method="post" >
                {% csrf_token %}
                <input type="hidden" name="show_id" value="{{ show.key.name }}" />
                <input type="submit" value="subscribe" />
            </form>
            {% endif %}
            {% if is_admin %}
            <a href="/scrape/{{show.key.name}}?force=1" />rescrape this show</a><br />
            {% endif %}
            <a href="/stats/{{ show.url_string }}">graph this show</a>
        </div>

        <!-- Description -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div class="container">
                <div class="row">
                    <div id="showtitle">
                        <h1>{{ show.title }}</h1>
                        <h3>{{ show.status }}{% if nextepisode %} - Next airing: {{ nextepisode.airdate }}{% endif %}</h3>
                    </div>
                </div>

                <div class="row">
                    <hr class="showline">
                </div>

                <div class="row">
                    <div id="showdescription">
                        {{ show.desc }}
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="panel-group" id="accordion">
                        {% for season, episodes in seasons_dict.items reversed %}
                        <div class="panel seasonpanel">
                            <div class="panel-heading seasonheading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{season}}">Season {{season}}</a>
                                </h3>
                            </div>
                            <div id="collapse{{season}}" class="panel-collapse {% if forloop.first %}in{% else %}collapse{% endif %}" style="height: auto;">
                                <div class="panel-body">
                                    <table class="table seasontable">
                                        <thead style="font-weight: bold;">
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Air Date</th>
                                                <th>Rating</th>
                                            </tr>
                                        </thead>
                                        {% for episode in episodes %}
                                        <tr id="s{{season|stringformat:'02d'}}e{{episode.ep_number|stringformat:'02d'}}">
                                            <td>{{ episode.ep_number }}</td>
                                            <td>{{ episode.name }}</td>
                                            {% if episode.airdate %}
                                            <td>{{ episode.airdate }}</td>
                                            {% else %}
                                            <td>N/A</td>
                                            {% endif %}
                                            {% if episode.rating < 0 %}
                                            <td>N/A</td>
                                            {% else %}
                                            <td style="padding: 0;">
                                                <div class="rating-col">
                                                    <div class="rating-num">{{ episode.rating }}</div>
                                                    <span class="rating-bar"></span>
                                                </div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        if(location.hash){
            $(location.hash).closest('.panel-collapse').removeClass("collapse").addClass("in");
            $(location.hash).css('background-color', '#2986b9');
            $(location.hash).animate({'background-color': "transparent"}, 4000);
        }

        $(".rating-col").each(function() {
            var r = $(this).children('.rating-num').text();
            $(this).children('.rating-bar').css('width', (r*10)+"%");
        });
    });
</script>

{% include "./telehex/footer.html" %}
