{% extends "base.html" %}
{% block title %}- Shows Similar to {{ show.title }}{% endblock %}

{%block js %}<script src="{% static "js/d3.v3.min.js" %}"></script>{% endblock %}

{%block content %}<div class="container">
    <div id="show_key_name" class="hidden">{{ show.key.name }}</div>
    <div class="row">
        <h2>Similar shows to {{ show.title }}</h2>
        <a href="/show/{{show.url_string}}">&larr; back to show information</a>
    </div>
    <div id="similarity-graph" class="row">
      
    </div>
</div>{% endblock %}

{% block scripts %}<script src="{% static "js/our_js/similarity.js" %}"></script>{% endblock %}
