{% extends "base.html" %}
{% load staticfiles %}
{% load ratings_helper %}
{% include "./telehex/header.html" %}


{% block title %}- {{ user.nickname }}'s Shows{% endblock %}

{% block css %}
    <link rel='stylesheet' href="{% static "css/icheck_line/blue.css" %}" media="screen">
{% endblock %}

{% block js %}
    <script src="{% static "js/jquery.icheck.js" %}"></script>
{% endblock %}

{%block content %}
<div class="container">
    <!-- heading title -->
    <div class="profile-title-styling">
        <h1>Your Subscribed Shows</h1>
    </div>
    <!-- don't allow them to view stats if they have not subscribed to any shows -->
    {% if shows %}
    <div>
        {% if email_updates %}<p id="subscribeoffer">You will receive a weekly email on Sundays, summarising the coming week's shows.</p>{% endif %}
        {% if not email_updates %}<p id="subscribeoffer">Would you like us to email you a weekly summary of the coming week's shows?</p>{% endif %}
        <input id="updates_check" type="checkbox" {% if not email_updates %} checked="checked" {% endif %}>
        <label>{% if email_updates %}Stop Receiving Email Updates{% endif %}{% if not email_updates %}Receive Email Updates{% endif %}</label>
    </div>
    <br>
    <br>
    <!-- create the options bar to take you to statistics -->
        <div class="caption-styling show_padding">
            <a href="/your-shows/stats" class="stats_link"> View your show statistics </a>
        </div>
    <!-- hexagons and descriptions inside thumbnails -->
    <div>
            {% for show, next in shows %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="row">
                {% endif %}
                    <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="hex-im-cont thumbnail thumbnail-styling">
                                <a href="/show/{{show.url_string}}">
                                    {% if show.fanart %}
                                        <img src="/hexagons/{{ show.key.name }}" class="hex-im img-responsive" alt="{{show.name}} hex image">
                                    {% else %}
                                        <img src="{% static "img/errorhex.png" %}" class="hex-im img-responsive" alt="No Show Image">
                                    {% endif %} 
                                </a>
                                {% if next.airdate %}
                                    <span style="display: none" class="airdate">{{ next.airdate }}</span>
                                    <h2 class="days-left" style="display: none"> On in </h2>
                                {% elif show.status == "On Hiatus" %}
                                    <h2 class="days-left" style="display: none"> On Hiatus </h2>
                                {% elif show.status == "Ended" %}
                                    <h2 class="days-left" style="display: none"> Ended </h2>
                                {% elif show.status == "Other" %}
                                    <h2 class="days-left" style="display: none"> Unknown </h2>
                                {% elif show.status == "Continuing" %}
                                    <h2 class="days-left" style="display: none"> Next airdate to be confirmed </h2>
                                {% endif %}
                            </div>

                            <div class="caption caption-styling">
                                <div class="title-styling"><a href="/show/{{show.url_string}}">{{ show.title }}</a></div>
                                {% if show.rating %} 
                                <div class="hex_styling">
                                    {% for icon in show.rating|to_num_hex %}
                                        <img class="hex-icon" src="{% static "img/hex-icon.png" %}">
                                    {% endfor %}
                                </div> 
                                {% endif %}
                                <p>
                                {% if next.name %}Next Episode: {{ next.name }}{% endif %} 
                                {% if next.name %}<br>Airdate: {{ next.airdate }}{% endif %}
                                </p>
                                <br>
                            </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
            {% endfor %}
    </div>
    {% else %}
        <p>It doesn't look like you've subscribed to any shows. Try <a href="/">searching</a> for some and subscribing to them!</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}<script src="{% static "js/our_js/your_shows.js" %}"></script>{% endblock %}
